{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        // "targets": {},
        "useBuiltIns": "usage",  // 可选值: "usage"、"entry"、false；默认值: false
        "corejs": 3,  // 可选值: 2、3、{version: 2 | 3, proposals: boolean}；默认值: 2
        "modules": "auto"  // 可选值: "amd" | "umd" | "systemjs" | "commonjs|cjs" | "auto" | false；默认值: "auto"
      }
    ]
  ]
}
